*{
    padding: 0em;
    margin: 0em;
}

body{
    font-family: Relaway;
    background: #f7f7f7;
}

#main{
    width:95%;
    display:table;
    margin:0 auto;
    margin-top:1%;
}

#menu {
    width:100%;
    text-align: center !important;
}

#contenuto{
    padding-left: 2%;
    padding-right: 2%;
}

h1 {
   text-align: center !important;
}

button {
    border-radius: 4px;
    background: #2a2a2a;
    color: #ffffff;
}

#datepicker, #datepickerA {
    border-bottom: 1px solid #2a2a2a !important;
    border: 0px;
    margin-left: 11px;
    margin-right: 11px;
    background: #f7f7f7;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

thead{
    font-weight: bold;
    border: 1px solid #2a2a2a;
    background: #2a2a2a;
    color: #ffffff;
}

tr {
    border-bottom: 1px solid #2a2a2a;
}

th {
    height: 50px;
}

.inputBottom {
    border-bottom: 1px solid #2a2a2a !important;
    border: 0px;
    margin-left: 11px;
    margin-right: 11px;
    background: #f7f7f7;
}

.prenotazione {
    margin-left: 22%;
    margin-right: 15%;
    margin-bottom: 6%;
    line-height: 40px;
}

select {
    background: #f7f7f7 !important;
    border: none !important;
}

input.inputPrenotazione {
    background: transparent;
    text-align: center;
    border: none;
}

.inputTable {
    text-align: center!important;
    border: none !important;
    background: transparent!important;
}

div#example_filter, div#turni_filter {
    display: none;
}

.table-ext thead th {
    height:50px;
    line-height:50px;
    border-bottom:1px solid #ddd;
    text-align: left;
    border:1px solid #ddd;
    padding: 0 0 0 5px;
    background: #f04;
    color:#fff;
}

table td {
    width: 20vw!important;
}

.table-ext tbody td {
    width: 20vw !important;
    border-bottom:1px solid #ddd;
}

.divinterno{
    height:270px;
    overflow:auto;
    width:100%;
}

.table-int {
    width:100%;
}

.table-int td {
    height:40px;
    width: 20vw!important;
}

.setting{
    line-height: 32px;
}

.centra {
    text-align: center !important;
}

.inputNumber {
    max-width: 40px !important;
}

.elimina {
    float: right;
}

.delete {
    width: 24%;
    float: left;
    margin: 12px 1px;
    font-size: 15px;
}

.layoutMiddle {
    width: 50%;
    float: left;
}

.layoutFull {
    width: 100%;
    display: flow-root;
}

.multiselect-container>li>a>label {
    padding: 4px 20px 3px 20px;
}

img {
    width: 10vw;
    margin: 1%;
}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 768px) {
    .inputTable {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

@media only screen and (max-width: 414px) {

    #contenuto {
        width: 100% !important;
        float: none !important;
    }

    .inputTable {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: left!important;
    }
}

td.postazioni_libere{
    text-align:center;
    vertical-align:middle;
    background: green;
    background-repeat:no-repeat;
    background-position:center center;
}

td.postazioni_occupate{
    text-align:center;
    vertical-align:middle;
    background:red;
    background-repeat:no-repeat;
    background-position:center center;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.accordion:after {
    content: '\003E'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.scontrino {
    vertical-align: top;
    width: 30vw;
    height: 50vh;
}