*{
    font-family: Relaway;
}

body{
    margin-left: 5%;
    margin-right: 5%;
    background: #f7f7f7;
}

h1 {
   text-align: center !important;
}

button {
    border-radius: 4px;
    background: #2a2a2a;
    color: #ffffff;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

thead{
    font-weight: bold;
    border: 1px solid #2a2a2a;
    background: #2a2a2a;
    color: #ffffff;
}

tr {
    border-bottom: 1px solid #2a2a2a;
}

th {
    height: 50px;
}

.inputBottom {
    border-bottom: 1px solid #2a2a2a !important;
    border: 0px;
    margin-left: 11px;
    margin-right: 11px;
    background: #f7f7f7;
}

.prenotazione {
    margin-left: 22%;
    margin-right: 15%;
    margin-bottom: 6%;
    line-height: 40px;
}

.button {
    margin-left: 32%;
}

select {
    background: #f7f7f7 !important;
    border: none !important;
}

input.inputPrenotazione {
    text-align: center;
    border: none;
}


#myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

#myTable th, #myTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

#myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}

.inputTable {
    background: transparent;
    border: none;
}

td.postazioni_libere{
    text-align:center;
    vertical-align:middle;
    background: green;
    background-repeat:no-repeat;
    background-position:center center;
}

td.postazioni_occupate{
    text-align:center;
    vertical-align:middle;
    background:red;
    background-repeat:no-repeat;
    background-position:center center;
}