*{
    padding: 0em;
    margin: 0em;
}

body{
    font-family: Relaway;
    background: #f7f7f7;
}

#main{
    width:95%;
    display:table;
    margin:0 auto;
    margin-top:1%;
}

#menu{
    float:left;
    width:15%;
}

#contenuto{
    padding-left: 2%;
    padding-right: 2%;
    width:80%;
    margin-right: 2%;
    float:right;
    border: 1px solid;
}

h1 {
   text-align: center !important;
}

button {
    border-radius: 4px;
    background: #2a2a2a;
    color: #ffffff;
}

#datepicker, #datepickerA {
    border-bottom: 1px solid #2a2a2a !important;
    border: 0px;
    margin-left: 11px;
    margin-right: 11px;
    background: #f7f7f7;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

thead{
    font-weight: bold;
    border: 1px solid #2a2a2a;
    background: #2a2a2a;
    color: #ffffff;
}

tr {
    border-bottom: 1px solid #2a2a2a;
}

th {
    height: 50px;
}

.inputBottom {
    border-bottom: 1px solid #2a2a2a !important;
    border: 0px;
    margin-left: 11px;
    margin-right: 11px;
    background: #f7f7f7;
}

.prenotazione {
    margin-left: 22%;
    margin-right: 15%;
    margin-bottom: 6%;
    line-height: 40px;
}

select {
    background: #f7f7f7 !important;
    border: none !important;
}

input.inputPrenotazione {
    text-align: center;
    border: none;
}

.inputTable {
    text-align: center!important;
    border: none !important;
    background: transparent!important;
}

div#example_filter, div#example_filter {
    display: none;
}