*{
    padding: 0em;
    margin: 0em;
}

body{
    font-family: Relaway;
    background: #f7f7f7;
}

#main{
    width:95%;
    display:table;
    margin:0 auto;
    margin-top:1%;
}

#menu{
    float:left;
    width:20%;
}

#contenuto{
    padding-left: 2%;
    padding-right: 2%;
    width:80%;
    float:right;
}

h1 {
   text-align: center !important;
}

button {
    border-radius: 4px;
    background: #2a2a2a;
    color: #ffffff;
}

#datepicker, #datepickerA {
    border-bottom: 1px solid #2a2a2a !important;
    border: 0px;
    margin-left: 11px;
    margin-right: 11px;
    background: #f7f7f7;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

thead{
    font-weight: bold;
    border: 1px solid #2a2a2a;
    background: #2a2a2a;
    color: #ffffff;
}

tr {
    border-bottom: 1px solid #2a2a2a;
}

th {
    height: 50px;
}

.inputBottom {
    border-bottom: 1px solid #2a2a2a !important;
    border: 0px;
    margin-left: 11px;
    margin-right: 11px;
    background: #f7f7f7;
}

.prenotazione {
    margin-left: 22%;
    margin-right: 15%;
    margin-bottom: 6%;
    line-height: 40px;
}

select {
    background: #f7f7f7 !important;
    border: none !important;
}

input.inputPrenotazione {
    text-align: center;
    border: none;
}

.inputTable {
    text-align: center!important;
    border: none !important;
    background: transparent!important;
}

div#example_filter, div#turni_filter {
    display: none;
}

.table-ext thead th {
    height:50px;
    line-height:50px;
    border-bottom:1px solid #ddd;
    text-align: left;
    border:1px solid #ddd;
    padding: 0 0 0 5px;
    background: #f04;
    color:#fff;
}

.table-ext tbody td {
    border-bottom:1px solid #ddd;
}

.divinterno{
    height:270px;
    overflow:auto;
    width:100%;
}

.table-int {
    width:100%;
}

.table-int td {
    height:40px;
}

.setting{
    line-height: 32px;
}

.centra {
    text-align: center !important;
}

@media only screen and (max-width: 1024px) {
     #menu {
         width: 25% !important;
     }

    #contenuto {
        width: 75% !important;
    }
}

@media only screen and (max-width: 768px) {
    #contenuto {
        width: 65% !important;
        padding: 0 !important;
    }

    .inputTable {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

@media only screen and (max-width: 414px) {
    #menu {
        width: 100% !important;
        float: none !important;
    }

    #contenuto {
        width: 100% !important;
        float: none !important;
    }

    .inputTable {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: left!important;
    }
}